* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

:root {
  --hue: 18.6;
  --base-color: hsl(var(--hue), 96.03%, 49.41%);
}

a {
  text-decoration: none;
}

.menuSelecao {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  height: 100%;
  width: 25vw;
  padding-left: 1vw;
}

.menuCategorias {
  height: 80vh;
}

.livrosBox {
  position: absolute;
  right: 0;
  height: 100%;
  width: 75vw;
  padding: 7vh 0 0 5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.livro {
  position: relative;
  width: 18vw;
  height: 18vw;
  margin: 1.5vw;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.livro .imagemCapa {
  background-image: url("../assets/capaLivro.jpeg");
  background-size: cover;
  width: 100%;
  height: 50%;
  margin-bottom: 2vh;
}

.livro h3 {
  display: inline;
  color: black;
}

.livro p {
  height: 5vw;
}

.reservar {
  position: absolute;
  top: 0;
  width: 18vw;
  height: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  color: var(--base-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
}

.reservar:hover {
  background-color: rgb(200, 200, 200, 0.8);
  opacity: 1;
}

ul a li {
  transition: 0.5s;
  text-align: center;
}

ul a li:hover {
  background-color: rgb(200, 200, 200);
}
