* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

:root {
  --hue: 18.6;
  --base-color: hsl(var(--hue), 96.03%, 49.41%);
}

.container {
  display: flex;
}

.leftSide,
.rightSide {
  position: relative;
  width: 50vw;
  height: 100vh;
  padding: 8.39vh;
}

.rightSide {
  background: #e5e5e5;
}

header {
  display: inline;
}

header img {
  display: none;
  opacity: 0;
}

h1 {
  display: inline;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.875rem;
  color: var(--base-color);
}

section {
  position: absolute;
  display: block;
  width: calc(100% - 8.39vh);
  margin-top: 10.54vh;
  padding-right: 1.31vw;
}

h2 {
  display: inline;
  font-size: 2.18rem;
  font-family: "Open Sans", sans-serif;
  line-height: 3.06rem;
  font-weight: bold;
  color: var(--base-color);
}

.boasVindas {
  height: 0.9rem;
  font-family: "Roboto", sans-serif;
  margin-top: 2.73%;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.6);
}

.rightSide img {
  height: 45.79%;
  margin-top: 20.5%;
}

form {
  width: 38.36vw;
  margin-top: 6.34vh;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  height: 7.22vh;
  border: 1px solid #c1bbbb;
  padding: 3px 10px;
  font-family: "Roboto", sans-serif;
  margin: 5px auto;
}

.botoes {
  display: flex;
  margin-top: 8.13vh;
}

input[type="button"] {
  width: 8.93vw;
  height: 7.27vh;
  margin-right: 2.29vw;
}

input[type="button"]#signup {
  background: var(--base-color);
  color: white;
  border: none;
  transition: 0.5s;
}

input[type="button"]#signup:hover {
  cursor: pointer;
  background: white;
  color: var(--base-color);
  border: 1px solid var(--base-color);
}

@media screen and (max-width: 950px) {
  header {
    display: block;
    height: auto;
    padding-top: 10.01vh;
  }

  header img {
    display: block;
    opacity: 1;
    margin: 0 auto;
    width: 40vw;
    height: 40vw;
  }

  h1 {
    display: block;
    height: 10vh;
    font-size: 3.125rem;
    margin-top: 3vh;
  }

  section {
    padding: 0;
    width: 100vw;
    margin-top: 0;
  }

  .rightSide {
    display: none;
    opacity: 0;
  }

  .leftSide {
    width: 100vw;
    padding: 0;
    text-align: center;
  }

  h2 {
    display: none;
    opacity: 0;
  }

  form {
    margin: 0 auto;
    width: 80vw;
    margin-top: 5vh;
  }

  input[type="email"],
  input[type="password"] {
    border-radius: 5px;
  }

  input[type="button"] {
    width: 25vw;
    height: 6.5vh;
  }

  .botoes {
    display: block;
    margin: 3.5vh auto;
  }
}
