* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}

:root {
  --hue: 18.6;
  --base-color: hsl(var(--hue), 96.03%, 49.41%);
}

a {
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  height: 15vh;
  background-color: white;
  border-bottom: 1px solid var(--base-color);
  padding: 3vh 8vw;
  z-index: 1;
}

h1 {
  color: var(--base-color);
}

.logo {
  background-image: url("../assets/fotoLivroLogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 6vw;
  height: 6vw;
}

.iconMenu {
  display: none;
  opacity: 0;
}

div .menuMobile {
  display: none;
}

.menuSelecao {
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 15vh;
  height: 85vh;
  width: 25vw;
  padding-left: 1vw;
}

.menuCategorias {
  height: 80vh;
}

.livrosBox {
  position: absolute;
  right: 0;
  top: 15vh;
  height: 100%;
  width: 75vw;
  padding: 3vh 0 0 5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.livro {
  position: relative;
  width: 18vw;
  height: 18vw;
  margin: 1.5vw;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.livro .imagemCapa {
  background-image: url("../assets/capaLivro.jpeg");
  background-size: cover;
  width: 100%;
  height: 50%;
  margin-bottom: 1.5vh;
}

.livro h3 {
  display: inline;
  color: black;
}

.livro p {
  display: block;
  margin-top: 1vh;
  font-size: small;
}

.reservar {
  position: absolute;
  top: 0;
  width: 18vw;
  height: 18vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.5s;
  opacity: 0;
  color: var(--base-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1rem;
}

.reservar:hover {
  background-color: rgb(200, 200, 200, 0.8);
  opacity: 1;
}

ul a li {
  transition: 0.5s;
  text-align: center;
}

ul a li:hover {
  background-color: rgb(200, 200, 200);
}

@media screen and (max-width: 1000px) {
  .logo {
    display: none;
    opacity: 0;
  }

  .iconMenu {
    display: block;
    opacity: 1;
    background-image: url("../assets/iconeMenu.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 50px;
    height: 50px;
  }

  div .livrosBox {
    width: 100vw;
    height: 100vh;
    padding: 0 8vw;
    top: 18vh;
  }

  div .livro {
    position: relative;
    margin: 0;
    width: 100vw;
    height: 92vw;
    margin: 2vh 0;
  }

  div.livro .imagemCapa {
    margin-bottom: 4vh;
  }

  div.mobile .menuMobile {
    display: block;
    position: absolute;
    top: 20vh;
    width: 100vw;
    height: 100vh;
    left: 0;
  }

  div .menuSelecao {
    display: none;
  }

  div.mobile .livrosBox {
    display: none;
  }

  div.mobile .menuMobile ul {
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    list-style: none;
  }

  div.mobile .menuMobile ul li {
    color: black;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
  }
}
